.fullsection {
    width: 80%;
    padding: 2% 10%;
    font-family: 'Open Sans';
}

.section-header {
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-color: #418fde;
    padding: 0 10px 5px 0;
    font-size: 20px;
    text-transform: uppercase;
    margin: 0 0 20px 0;
    width: 100%;
    font-family: 'PT Serif', serif;
    color: #292929;
}
.fullsection ul{
    margin-left: 40px;
}

.q{
    font-weight: bolder;
    font-family: 'PT Serif', serif;
    color: #292929;
}