* {
    font-size: 1em;
    margin: 0;
    padding: 0;
}
.article-container{
    margin: 50px 150px;
    display: flex;
    flex-wrap: row;
}
.article-info{
    display: flex;
    flex-direction: column;
    margin: 5px 20px;
    width: 260px;
    color: #212529;
    font-size: 1em;
}
.article-content{
    margin: 10px 0px;
    font-size: 1em;
    color: #212529;
}
.title{
    font-size: 1.5em;
    margin: 0px;
    color: black;
}