/* @import url(./global.css); */

.articleContain {
  display: flex;
  flex-direction: column;
  margin: 10px 100px;
  align-items: center;
  text-align: center;
}
.articleImage {
  width: 85%;
  height: auto;
  margin: 10px;
}
.title {
  font-size: 1.5em;
  margin: 0px;
  margin-bottom: 10px;
  color: black;
  font-weight: 900;
}
.author {
  font-weight: 300;
  margin: 0;
  margin-bottom: 10px;
  color: #b07bbf;
  text-decoration: none;
}
.date {
  font-weight: 300;
  margin: 0;
  margin-bottom: 10px;
}

.articleContent {
  margin: 10px 0px;
  font-size: 1em;
  color: #212529;
  font-family: "Open Sans";
  text-align: left;
  line-height: 2;
}
