* {
    font-size: 1em;
    margin: 0px;
    padding: 0;
}
.article-contain{
    display: flex;
    flex-direction: column;
    margin: 10px 200px;
    align-items: center;
}
img{
    width: 85%;
    height: auto;
    margin: 10px;
}
.title{
    font-size: 1.5em;
    margin: 0px;
    color: black;
    font-weight: 900;
}
.date{
    color: #6C757D;
}

.article-content{
    margin: 10px 0px;
    font-size: 1em;
    color: #212529;
}