.schedule-header{
    font-family: 'PT Serif', serif;
    margin: 20px 0px;
    font-size: 20px;
}

.sheet-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    height: 800px;
    margin: none;
    padding: none;
    margin-bottom: 30px;
}

.sheet{
    width: 80%;
    height: 100%; 
    border: none; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 1); 
}