/* ImageSlider.css */
.slider {
  /* background-color: #FADCEF; */
  max-width: 95%; 
  margin: 10px auto;
  position: relative;
  overflow: hidden; /* This ensures that overflow content is not visible */
}
.slide {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: opacity 1s ease, visibility 0s linear 1s;
  opacity: 0;
  visibility: hidden;
}
.slide.active {
  /* Your existing styles */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1;
  visibility: visible; /* Only the active slide is visible */
  position: relative; /* Active slide is positioned relatively */
  transition-delay: 0s; /* Transition delay reset for active slide */
  min-height: 300px;
}
.image {
  width: 80%;
  margin: 5px;
  height: auto;
  object-fit: cover;
}
.slide-caption {
  font-family: 'Open Sans';
  color: #292929; 
  width: 100%; 
  box-sizing: border-box;
}
.slide-caption h2 {
  font-family: 'PT Serif', serif;
  color: #292929; 
  transform: translateY(-10px);
  max-height: 30px;
}
.slide-text{
  margin-top: 0.3em;
}
.left-arrow,
.right-arrow {
position: absolute;
top: 50%;
transform: translateY(-50%);
background-color: none;
color: #004165; /* Georgetown Blue */
border: 1px solid #004165; /* Georgetown Blue */
padding: 0.5em 1em;
cursor: pointer;
z-index: 10;
}

.left-arrow {
left: 10px;
}

.right-arrow {
right: 10px;
}