/* ImageSlider.css */
.slider {
  max-width: 600px; /* Adjust based on your layout */
  height: 500px; /* Adjust based on your layout */
  margin: 20px auto; /* This centers the slider */
  position: relative;
  overflow: hidden; /* This ensures that overflow content is not visible */
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
  position: absolute; /* Make slides absolute to stack them */
  width: 100%;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  position: relative; /* Active slide should be positioned relatively */
}

.image {
  max-width: 100%; /* This ensures that the image is not wider than its container */
  height: auto; /* This maintains the aspect ratio of the image */
  max-height: 500px; /* Adjust this value to fit your layout */
}

.left-arrow,
.right-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff; /* Change the color so it's visible on your background */
  color: #004165; /* Georgetown Blue */
  border: 1px solid #004165; /* Georgetown Blue */
  padding: 0.5em 1em;
  cursor: pointer;
  z-index: 100; /* Increase z-index to ensure it's above other content */
  font-size: 2em; /* Increase font size for better visibility */
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}