.carouselArticles {
  position: relative;
  border-radius: 10px;
  height: 400px;
  width: 90%;
  margin: auto;
  overflow: hidden;
}
.slideNavigation {
  display: flex;
  justify-content: space-between;
}
.left,
.right {
  position: absolute;
  background-color: none;
  fill: #154779;
  width: 30px;
  height: 10px;
  top: 0;
  bottom: 0;
  margin: auto 10px;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.left {
  left: 0;
}
.right {
  right: 0;
}
.left:hover,
.right:hover {
  transform: scale(1.5);
}
.indicator {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.dot {
  background-color: #333;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.active {
  background-color: #418fde;
}

.articleContainer {
  margin: 10px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.articleLink {
  text-decoration: none;
}
.articleImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin: auto 0px;
}
.articleContent {
  margin: 0px 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Open Sans";
  text-decoration: none;
  color: #292929;
  border: none;
}
.articleTitle {
  font-family: "PT Serif", serif;
  font-size: 20px;
  margin: 5px;
}
.articleAuthor {
  font-family: "PT Serif", serif;
  margin-bottom: 10px;
}
button {
  color: #b11b7d;
}
.slick-arrow .slick-prev,
.slick-next {
  color: #b11b7d;
}
.slick-prev:before,
.slick-next:before {
  color: #b11b7d;
}
.slick-arrow {
  color: #b11b7d;
}
