.playlistContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.playlistContainer iframe {
  width: 100%;
  height: 500px;
  max-width: 380px;
  max-height: 380px;
  border: none;
  margin-bottom: 10px;
}
