.container { /*container header and navbar*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #EF95CF;
} 
.header{
    width: 60%;
}
nav{
    display: inline;
    margin: 0;
    padding: 0;
}  