.container { /*container header and navbar*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #BAD6F3;
} 
.header{
    width: 30%;
}
.header-subtext{
    font-family: 'PT Serif', serif;
    font-size: 2em;
}
nav{
    display: inline;
    margin: 0;
    padding: 0;
}  