nav {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  font-family: "Open Sans";
}
.navList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.navList li {
  margin: 11px 0px;
}
.navList li:last-child {
  margin-right: 15px;
}

.navList a {
  text-decoration: none;
  color: #151515;
  font-size: 1.2em;
  transition: color 0.5s;
  padding: 12px 20px;
  background-color: none;
  border: none;
  border-radius: 5px;
  font-family: "Open Sans";
}
.navList a.active {
  padding: 12px 30px;
  background-color: #b11b7d;
}

.navList li:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: #b11b7d;
  text-underline-offset: 0.3em;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 80%;
  height: 100vh;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  box-shadow: -8px 0px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.hideSidebar {
  display: none;
}
.sidebar li {
  width: 100%;
}
.sidebar li:first-child {
  margin-left: 50px;
}

.sidebar a {
  align-self: start;
  padding: 0px 30px;
}
.sidebar a.active {
  background-color: none;
  border-radius: 0px;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: #b11b7d;
  text-underline-offset: 0.3em;
}

/* 
@media (max-width: 1200px) {
  .navbar a {
    font-size: 1em;
  }
}

@media (max-width: 890px) {
  .navbar a {
    font-size: 0.8em;
    padding: 12px 20px;
  }
} */

@media (max-width: 1000px) {
  .hideMobile {
    display: none;
  }
}
@media (min-width: 1001px) {
  .hideDesktop {
    display: none;
  }
}

@media (max-width: 450px) {
  .sidebar {
    width: 100%;
  }
}
