.main-menu {
  margin-top: 5px;
  width: 100vw;
  font-family: 'Open Sans'
}
.navbar {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 10px;

}
.navbar li {
  display: flex;
  justify-content: center;
  margin: none;
  padding: 0px 0px;
}
 
.navbar li a {
  text-decoration: none;
  color: #418FDE; 
  font-size: 15px;
  transition: color 0.5s;
  padding: 12px 30px; 
  margin: none;
  background-color: none; 
  border: none; 
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
}
.navbar a.active {
  font-weight: bold;
  padding: 12px 30px;
  background-color: #E75FBB;
}

.navbar li a:hover {
  background-color: #E75FBB;
}
