/* styling for navbar */
  .navbar {
    
    background-color: #91a1ff; /* A dark background for the navbar */
    align-items: center;
    display: inline-block;
    padding: 0;
    min-height: 50px;
    max-width: 70%;
  }

  /* Remove bullet points and update font styles for navbar links */
.navbar ul {
    list-style: none; /* This removes bullet points */
    margin: 0;
    padding: 0;
    display: flex; /* Display list items in a row */
    justify-content: left;
    width: 100%;
    align-items: center; /* Center-align items for vertical alignment */
  }
  
  .navbar li {
    text-align: center;
    padding: 0;
    margin: 0;
  }
  
  .navbar a {
    display: block; /* Make the links take up the full space of the <li> */
    text-decoration: none; /* Optional: removes the underline */
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white; /* Sets the color of your links to white */
    text-decoration: none; /* Removes the underline from links */
  }
  
  .navbar a:hover {
    background-color: #b4b4b4;
  }
  
