.container {
  display: flex;
  font-family: "Open Sans";
  align-items: baseline;
  justify-content: center;
}
.tag {
  background-color: #ec83c7;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  color: #151515;
  text-decoration: none;
}
.active {
  background-color: #e34faf;
}
